/**
 * Author: Andrew Kim
 * Since: 24 June 2024
 * Verison: 2.0.0
 */


body {
    background-color: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

#main-content {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}