/**
 * Author: Andrew Kim
 * Since: 25 June 2024
 * Verison: 2.0.0
 */

/* ---------------- PAGE SETUP ---------------- */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* ----------------CONTENTS ---------------- */
#main-container {
    margin: 0;
    width: 100vh;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
}

#main-content {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(2px);
    text-align: center;
}

#title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
}

.section {
    margin-bottom: 50px;
}

.book {
    font-size: 13px;
    margin-bottom: 15px;
}

.finish {
    font-size: 10px;
}



